
.bt{
    text-align: center;
    font-size:12px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 14px 80px;
    border-bottom: 5px solid #c86a43;
    background: #eb7d4d;
    color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
  }
  .bt:hover{
    
    border-bottom: 5px solid  #047a7e;
    background: #3de8ee;
     cursor: pointer;
     
  }
  #s{
    padding-top: 170px;
    font-weight: bold;
    font-size: 35px;
  }
  #p{
    padding-top: 0;
    font-weight: bold;
    font-size: 35px;
  }

  .topnav {
    padding-top: 60px;
    overflow: hidden;
  }
  .topnav img{
    padding-right: 90px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
 
  
  /* Change the color of links on hover */
  .topnav .nav-link a:hover {
    background: #7b4391;
    color:white;
  }
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1000px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}

  h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  
  font-family: inherit;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  
}

h1, .h1 {
  
  font-size: 35px;
  
}

.container{
    width: 100%;
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
  }
  
#navbarNav h1{
  text-align: center;
  font-size: 35px;
  padding-top: 120px;

}

.nav {
    
    display: flex;
    
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .nav-link {
    display: block;
    padding: 10px;
    color:white;
    margin:10px;
    
    
    
  }
  .navitem{
    display: inline;
  }
  nav .navbar-nav li{
    display: inline;
  }
  
  .nav-link:hover, .nav-link:focus {
    text-decoration: none;
    background: #7b4391;
   
    color:white;
    border-radius: 10px;
}

img {
  
    border-style: none;
    padding-left: 50px;
  }

.ccr-home-bg{
    background-color:#87509c;
    padding-bottom: 170px;
    
    
}

  .ccr-service-bg {
    background: #17c2a4;
    padding: 110px 0px 110px 0;
    color: #fff;
}

.ccr-team-bg {
    text-align: center;
    background: #e7f1f8;
    color: #333;
    padding: 110px 0 110px 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.element_from_top {
    top: -50px;
    padding-right: 0px;
    opacity: 0;
    text-align: center;
}
.h4{
    font-size: 10px;
    text-align:center;

}

h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: white;
    text-transform: uppercase;
    padding-top:30px;
}
#ccr-service .ccr-item {
    padding: 60px 12px 12px 0;
    text-align: center;
    margin-bottom: 30px;
}
#ccr-service .ccr-item img {
  height: 124px;
  margin: 0 auto;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#ccr-service .ccr-item img:hover {
  transform: rotate(20deg);
}


.ccr-line {
  width: 87px;
  height: 3px;
  background: #14a58c;
  margin: 0 auto;
  margin-top: 21px;
  margin-bottom: 15px;
}
.ccr-team-bg {
  text-align: center;
  background: #e7f1f8;
  color: #333;
  padding: 110px 0 110px 0;
}
#ccr-team .ccr-team-title h1 {
  color: #3c4761;
}
#ccr-team .ccr-team-item img {
  border-radius: 100%;
  padding: 10px;
  background: #696969;
}
#ccr-team .ccr-team-item h3 {
  color: #3c4761;
  padding-top: 10px;
  padding-bottom: 0px;
}
#ccr-team .designation {
  color: #30bae7;
  padding-bottom: 10px;
}
.ccr-team-item{
  display: flex;
  padding-top: 50px;
}

#ccr-team .ccr-social i {
  font-size: 0.8em;
  background: #ccc;
  padding: 10px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  color: #fff;
  margin: 3px auto;
  transition: all ease 0.3s;
}

.fa {
  display: inliFontAwesome;
  font-style: normal;
  font-family: normal;
  font-weight: normal;
  line-height: 1;
 
}

.ccr-skill-bg {
  text-align: center;
  color: #111;
  padding-top: 110px;
  padding-bottom: 170px;
  
}
#ccr-skill .ccr-skill-title h1 {
  color: #3c4761;
}
#ccr-skill .ccr-skill-item h3 {
  color: #3c4761;
  font-weight: 700;
}
.tw-circle-chart {
  position: relative;
  text-align: center;
  margin: 0px auto;
  margin-bottom: 20px;
}
.tw-circle-chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.ccr-skill-item{
  display: flex;
  flex-direction: row;

}
#ccr-skill .ccr-line {
  background: #dfe8ed;
}
.ccr-portfolio-bg {
  background: #ffdd99;
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;
}
.element_from_top {
  padding-right: 0px;
  opacity: 0;
  position: relative;
}
#ccr-portfolio h1 {
  color: #393939;
}
#ccr-portfolio .ccr-line {
  background: #e5c37f;
}
.ccr-portfolio-isotop-menu {
  padding-top: 30px;
}
.filter {
  text-align: center;
}
#ccr-portfolio .ccr-menu {
  display: inline-block;
  list-style: none;
}
#ccr-portfolio .ccr-menu li {
  background: #ebc985;
  padding: 2px 14px;
  margin-right: 5px;
  color: #111;
  text-transform: uppercase;
  border-radius: 4px;
}
#ccr-portfolio .ccr-menu li {
  float: left;
}
button {
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  padding: 3px 10px;
  outline: none !important;
  cursor: pointer;
}
.filter li button {
  border: none;
  color: #202020;
  font-size: 1em;
  padding: 5px 10px;
  outline: none;
  transition: background-color 0.2s;
  font-weight: 400;
}
.filter li button:hover, .filter li button.selected {
  color: #fff;
}

#ccr-portfolio .ccr-portfolio-item {
  margin-top: 50px;
}
#ccr-portfolio .ccr-portfolio-item li {
  display: block;
  padding-bottom: 30px;
  color: #222;
}
#ccr-portfolio .row .st h3{
  color: #222;
  padding-bottom: 20px;
  font-weight: bold;
}
#ccr-portfolio .row img{
     width: 500px;
     height: 250px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
#ccr-portfolio .ccr-portfolio-item {
  margin-top: 50px;
}
#ccr-portfolio .ccr-portfolio-item h3 {
  color: #222;
}
#ccr-portfolio .ccr-button {
  background: #17c2a4;
  border-bottom: 5px solid #14a58c;
  color: #fff;
}
#ccr-portfolio .ccr-button:hover {
  background: #87509c;
  border-bottom: 5px solid #4F076B;
}
.ccr-about-us-bg {
  background: #d74680;
  padding-top: 110px;
  padding-bottom: 110px;
  
 
}
#ccr-about-us .ccr-line {
  background: #b73c6d;
}
#ccr-about-us h1 {
  text-align: center;
}
#ccr-about-us .ccr-about-us-slug p {
  color: #fff;
  padding-bottom: 50px;
  font-size: 25px;
}


#ccr-about-us .ccr-us-item img {
  background: #787878;
  padding: 10px;
  border-radius: 100%;
  margin-bottom: 50px; 
  margin-right: 50px;
}
#ccr-about-us .ccr-us-item span {
  line-height: 27px;
  font-size: 1.2em;
  
  color:white;
  
  
}
.ccr-designation h3 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
  
}
.ccr-designation p {
  color: #ffdd99;
  font-style: italic;
  padding-bottom: 20px;
  text-align: left;
  
}
#ccr-about-us .ccr-us-first-item, #ccr-about-us .ccr-us-second-item, #ccr-about-us .ccr-us-third-item, #ccr-about-us .ccr-us-fourth-item {
  padding-bottom: 30px;
}

@media (min-width: 768px){
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {
    float: left;
}
}
.element_from_left {
  
  position: relative;

}
.element_from_right {
  
  padding-left: 0px;

  position: relative;
}
.ccr-touch-bg {
  background: #3c5499;
  padding-top: 110px;
  padding-bottom: 100px;
  text-align: center;
}
h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
#ccr-touch .ccr-touch-title .ccr-line {
  background: #273a71;
}


#ccr-touch .ccr-touch-slug {
  color: #fff;
  padding-bottom: 40px;
}
#ccr-touch input {
  background: #273a71;
  border: 0;
  color: #fff;
}
#ccr-touch textarea {
  background: #273a71;
  border: none;
  padding: 5px;
  width: 100%;
  color: #fff;
  font-size: 0.9em;
}
#ccr-touch .input-group {
  padding-bottom: 30px;
  padding-top: 20px;
}
#ccr-touch .ccr-button {
    background: #32bae7;
    font-size: 1.1em;
    font-weight: 700;
    border-bottom-color: #2b9ec5;
    outline: none;
    color: white;
}
#ccr-touch .ccr-button:hover {
  background: white;
  color: black;
  border-bottom-color: grey;
  outline: none;
}
.ccr-button {
  text-align: center;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 18px 95px;
  border-bottom: 5px solid #c86a43;
  background: #eb7d4d;
  color: #fff;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
.ccr-footer-bg {
  background: #344b8e;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #4C68B9;
  text-align: center;
}

  #ccr-footer .ccr-footer-menu li a {
  color: #fff;
}
a {
  margin: 0px;
  padding: 0 10px;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;
}
.ccr-footer-menu li{
  list-style: none;
  display: inline;
}

#ccr-footer .ccr-footer-menu li a:hover {
  color: rgb(3, 206, 179);
  text-decoration: none;
}