.container{
    animation: transitionIN 1s;
  }
  @keyframes transitionIN{
    from{
        opacity: 0;
        transform: translate(-50px);
  
    }
   to {
     opacity: 1;
     transform: translate(0);
  
    }
  }
